    main .location-nav {
        width: 99%;
        height: 25px;
        padding: 7px;
        background-color: #f8f8f8;
    }
    
    main .nav-banner {
        width: 1200px;
        margin: 0 auto;
    }
    
    .nav-con-item {
        width: 100px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
        color: #555;
        float: left;
    }
    
    .menu-drop {
        width: 76px;
        border: 1px solid #d2d2d2;
        line-height: 23px;
        text-align: center;
        float: left;
        cursor: pointer;
        position: relative;
        background-color: #fff;
    }
    
    .menu-drop .list {
        width: 210px;
        border: 1px solid red;
        position: absolute;
        top: 23px;
        left: -1px;
        z-index: 10;
        background-color: #fff;
        display: none;
        cursor: default;
        color: #555;
    }
    
    .menu-drop .list::before {
        content: '';
        width: 76px;
        height: 2px;
        border-top: 2px solid #fff;
        position: absolute;
        top: -2px;
        left: 0px;
    }
    
    .menu-drop .list li {
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: left;
        margin-left: 10px;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .menu-drop .list li a:hover {
        color: #f42424;
    }
    
    .menu-drop:hover {
        border-color: #f42424;
    }
    
    .menu-drop:hover .list {
        display: block;
    }
    
    .nav-con-item .r {
        display: block;
        float: left;
        transform: rotate(-90deg);
        margin-left: 5px;
    }
    
    .nav-con-item .icon-Down1 {
        font-size: 12px;
    }
    
    main .nav-banner p {
        width: 300px;
        height: 25px;
        line-height: 25px;
        color: #8c8c8c;
        float: left;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    main .container {
        width: 1200px;
        margin: 20px auto;
    }
    /* 产品信息 */
    
    .product-info {
        width: 100%;
        height: auto;
    }
    
    .product-info::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .product-info-l {
        width: 400px;
        float: left;
    }
    /* 放大镜 */
    
    main .container::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .magnifying-glass {
        width: 398px;
        height: 498px;
        border: 1px solid #d2d2d2;
        position: relative;
        /* float: left; */
    }
    
    .magnifying-glass-top {
        width: 398px;
        height: 400px;
    }
    
    .md-img {
        width: 398px;
        height: 398px;
        border-bottom: 1px solid #d2d2d2;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .md-img.active {
        display: block;
    }
    
    .bottom-img {
        width: 398px;
        height: 98px;
    }
    
    .bottom-img i {
        color: #ccc;
    }
    
    .prev {
        width: 30px;
        height: 98px;
        line-height: 98px;
        text-align: center;
        cursor: pointer;
        float: left;
        background-color: #f8f8f8;
    }
    
    .next {
        width: 30px;
        height: 98px;
        line-height: 98px;
        text-align: center;
        cursor: pointer;
        float: right;
        background-color: #f8f8f8;
    }
    
    .sm-img-item {
        width: 70px;
        height: 98px;
        float: left;
        position: relative;
    }
    
    .sm-img-item img {
        width: 58px;
        height: 58px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .sm-img-item .active {
        border: 1px solid red;
    }
    
    .big-glass {
        width: 398px;
        height: 498px;
        border: 1px solid #d2d2d2;
        position: absolute;
        top: 0;
        left: 410px;
        overflow: hidden;
        display: none;
        z-index: 10;
    }
    
    .magnifying-glass .mask {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: skyblue;
        opacity: .3;
        cursor: move;
        display: none;
    }
    
    .lg-img {
        width: 800px;
        height: 800px;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .lg-img.active {
        display: block;
    }
    /* 收藏 */
    
    .collect {
        width: 400px;
        height: 50px;
        color: #555;
        font-size: 12px;
    }
    
    .contrast {
        width: 55px;
        height: 15px;
        line-height: 15px;
        float: left;
        margin: 20px 0 0 20px;
        border-right: 1px solid #d2d2d2;
        cursor: pointer;
    }
    
    .contrast:hover {
        color: #f42424;
    }
    
    .contrast i {
        display: inline-block;
        width: 12px;
        height: 12px;
        cursor: pointer;
    }
    
    .contrast i.check1 {
        background: url(../images/checkbox_gray.png) no-repeat center center;
    }
    
    .check2 {
        background: url(../images/checkbox_red.png) no-repeat center center;
    }
    
    .check3 {
        background: url(../images/checked_red.png) no-repeat center center;
        background-size: 100%;
    }
    
    .collect-con {
        width: 80px;
        height: 15px;
        line-height: 15px;
        float: left;
        margin: 20px 0 0 0;
        border-right: 1px solid #d2d2d2;
        cursor: pointer;
        text-align: center;
    }
    
    .collect-con:hover {
        color: #f42424;
    }
    
    .collect-con .icon-xiaoxingxing {
        font-size: 18px;
    }
    
    .collect .inform {
        width: 24px;
        float: right;
        margin-top: 20px;
        text-align: right;
        color: #438cde;
    }
    
    .collect .inform:hover {
        color: #f42424;
    }
    /* 商品信息 */
    
    .good-info {
        width: 580px;
        height: 440px;
        font-size: 12px;
        color: #555;
        margin: 0 20px;
        float: left;
    }
    
    .good-info .title {
        width: 580px;
        height: 48px;
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    
    .good-info .card {
        width: 580px;
        height: 70px;
        padding: 22px 0 12px 0;
        background: url(../images/card-bg.jpg) #f3f3f3 repeat-x 20px -60px;
    }
    
    .good-info .card .mall-price {
        padding-left: 20px;
        height: 24px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    
    .good-info .card span {
        display: block;
        float: left;
    }
    
    .good-info .card .mall-price span:nth-child(1) {
        height: 24px;
        line-height: 24px;
        color: #8c8c8c;
        margin-right: 5px;
    }
    
    .good-info .card .mall-price .price {
        color: #f42424;
        font-size: 30px;
        font-weight: bold;
    }
    
    .good-info .card .mall-price .price::before {
        content: '￥';
    }
    
    .good-info .card .depreciate {
        width: 60px;
        height: 20px;
        margin: 3px 0 0 5px;
        background: url(../images/dsc-icon.png) -298px -44px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
    }
    
    .good-info .card .depreciate a {
        color: #fff;
    }
    
    .good-info .card .evaluate {
        margin: 5px 0 5px 155px;
        height: 14px;
        line-height: 14px;
        padding-right: 10px;
        border-right: 1px solid #d2d2d2;
    }
    
    .good-info .card .evaluate i {
        font-size: 14px;
        color: #b31919;
    }
    
    .good-info .card .sales {
        margin: 5px 0 5px 10px;
        height: 14px;
        line-height: 14px;
    }
    
    .good-info .card .sales i {
        font-size: 14px;
        color: #b31919;
    }
    
    .good-info .card .VIP {
        height: 27px;
        padding-left: 80px;
        margin-bottom: 5px;
    }
    
    .good-info .card .VIP span:nth-child(2) {
        margin-left: 5px;
    }
    
    .good-info .card .VIP span:nth-child(3) {
        color: #f42424;
    }
    
    .good-info .card .VIP span:nth-child(3)::before {
        content: '￥';
    }
    
    .good-info .card .VIP span:nth-child(4) {
        margin-left: 40px;
    }
    
    .bazaar {
        float: left;
        margin-top: 15px;
        margin-left: 20px;
    }
    
    .good-info .card .VIP .phone-pay {
        color: #8c8c8c;
        float: right;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        background-color: rgb(0, 0, 0, 0);
    }
    
    .good-info .card .VIP .phone-pay:hover .ewm {
        display: block;
    }
    
    .good-info .card .VIP .phone-pay .icon-erweima2 {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin: 5px;
        line-height: 17px;
    }
    
    .good-info .card .VIP .phone-pay .ewm {
        width: 115px;
        height: 115px;
        position: absolute;
        top: 10px;
        left: 0px;
        padding: 20px;
        display: none;
        cursor: default;
    }
    
    .good-info .card .VIP .phone-pay .ewm img {
        width: 100%;
        height: 100%;
    }
    /* 配送服务 */
    
    .delivery {
        width: 560px;
        height: 154px;
        margin-top: 15px;
        padding-left: 20px;
    }
    
    .delivery-item {
        width: 100%;
        height: 25px;
        line-height: 25px;
        margin-bottom: 5px;
        color: #555;
        font-size: 12px;
    }
    
    .delivery-item>span {
        display: block;
        float: left;
        height: 25px;
        line-height: 25px;
        margin-right: 5px;
    }
    
    .delivery-item>span:nth-child(1) {
        width: 65px;
        color: #8c8c8c;
    }
    /* 配送地区 */
    
    .delivery-item .select {
        /* width: 155px; */
        height: 23px;
        border: 1px solid #ccc;
        float: left;
        text-align: center;
        line-height: 23px;
        cursor: pointer;
        position: relative;
    }
    
    .delivery-item .select>span {
        margin-left: 15px;
    }
    
    .delivery-item .select i {
        margin-left: 3px;
        margin-right: 3px;
        font-size: 12px;
    }
    
    .delivery-item .select .select-con {
        position: absolute;
        top: 23px;
        left: -1px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        width: 290px;
        padding: 10px 23px 15px 18px;
        cursor: default;
        display: none;
        z-index: 30;
    }
    
    .delivery-item .select .select-con::before {
        content: '';
        width: 155px;
        border-top: 1px solid #fff;
        position: absolute;
        top: -1px;
        left: 0;
    }
    
    .delivery-item .select .select-con .select-title {
        width: 190px;
        height: 25px;
        border: 1px solid #ccc;
        border-right: 0;
        text-align: center;
    }
    
    .delivery-item .select .select-con .select-title .active {
        color: #f42424;
    }
    
    .delivery-item .select .select-con .select-province,
    .delivery-item .select .select-con .select-town,
    .delivery-item .select .select-con .select-region {
        width: 62px;
        height: 25px;
        border-right: 1px solid #ccc;
        line-height: 25px;
        float: left;
        cursor: pointer;
    }
    
    .delivery-item .select .select-con .select-province:hover,
    .delivery-item .select .select-con .select-town:hover,
    .delivery-item .select .select-con .select-region:hover {
        color: #f42424;
    }
    
    .select-con-item div {
        width: 100%;
        height: auto;
        padding-top: 20px;
        border-top: 1px solid #ccc;
        position: relative;
        float: left;
        display: none;
    }
    
    .select-province-item li:nth-child(1)::before {
        content: '';
        width: 63px;
        border-top: 2px solid #fff;
        position: absolute;
        top: -2px;
        left: 0;
    }
    
    .select-province-item li:nth-child(1)::after {
        content: '';
        width: 63px;
        border-top: 2px solid #f42424;
        position: absolute;
        top: -27px;
        left: 0;
    }
    
    .select-town-item li:nth-child(1)::before {
        content: '';
        width: 63px;
        border-top: 2px solid #fff;
        position: absolute;
        top: -2px;
        left: 64px;
    }
    
    .select-town-item li:nth-child(1)::after {
        content: '';
        width: 63px;
        border-top: 2px solid #f42424;
        position: absolute;
        top: -27px;
        left: 64px;
    }
    
    .select-region-item li:nth-child(1)::before {
        content: '';
        width: 63px;
        border-top: 2px solid #fff;
        position: absolute;
        top: -2px;
        left: 127px;
    }
    
    .select-region-item li:nth-child(1)::after {
        content: '';
        width: 63px;
        border-top: 2px solid #f42424;
        position: absolute;
        top: -27px;
        left: 127px;
    }
    
    .select-con li {
        float: left;
        width: 67px;
        /* height: 18px; */
        /* line-height: 18px; */
        margin: 0 5px 5px 0;
    }
    
    .select-con li span {
        /* height: 18px; */
        /* line-height: 18px; */
        text-align: left;
        cursor: pointer;
        color: #555 !important;
    }
    
    .select-con li span:hover {
        background-color: #f42424;
        color: #fff !important;
    }
    
    .delivery-item .select .select-con .select-foot {
        color: #f42424;
        float: left;
    }
    
    .repertory {
        display: block;
        float: left;
        width: 32px;
        height: 20px;
        color: #666;
        font-size: 16px;
        margin-left: 10px;
    }
    
    .delivery-item span:nth-child(6) {
        line-height: 30px;
        color: #8c8c8c;
    }
    
    .delivery-item .company {
        color: #b31919;
    }
    
    .delivery-item .company:hover {
        color: #f42424;
    }
    
    .delivery-item .express {
        margin-left: 10px;
        color: #8c8c8c;
    }
    
    .delivery-item #delivery-num {
        width: 70px;
        height: 30px;
        outline: none;
        border: 1px solid #ccc;
        text-align: center;
    }
    
    .delivery-item .delivery-num {
        position: relative;
    }
    
    .delivery-item .delivery-num i {
        font-size: 12px;
    }
    
    .delivery-btn-up {
        background-color: #fff;
        display: block;
        width: 18px;
        height: 15px;
        position: absolute;
        top: 1px;
        left: 52px;
        cursor: pointer;
        line-height: 15px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    
    .delivery-btn-up:hover {
        color: #f42424;
    }
    
    .delivery-btn-down {
        background-color: #fff;
        display: block;
        width: 18px;
        height: 14px;
        line-height: 14px;
        position: absolute;
        top: 17px;
        left: 52px;
        cursor: pointer;
        border-left: 1px solid #ccc;
        text-align: center;
        color: #e0e0e0;
    }
    
    .pay-btn {
        width: 400px;
        height: 40px;
        line-height: 40px;
        margin: 22px 0 0 65px;
    }
    
    .pay-btn a {
        display: block;
        float: left;
        color: #fff;
        font-size: 18px;
        margin: 0 5px;
    }
    
    .pay-btn .to-pay {
        width: 122px;
        height: 40px;
        text-align: center;
        background: #ff8f22;
    }
    
    .pay-btn .to-pay:hover {
        background: #f29c49;
    }
    
    .pay-btn .to-goodsCart {
        width: 180px;
        height: 40px;
        text-align: center;
        background: #f42424;
    }
    
    .pay-btn .to-goodsCart:hover {
        background: #ec5151;
    }
    
    .pay-btn .to-goodsCart i {
        font-weight: bold;
    }
    
    .store-info {
        width: 153px;
        height: auto;
        padding: 10px;
        border: 1px solid #dddddd;
        float: left;
    }
    
    .store-log {
        margin-left: 50px;
    }
    
    .log {
        margin-left: 70px;
    }
    
    .store-info .store-log a img {
        max-width: 140px;
        max-height: 70px;
    }
    
    .store-info .store-title a {
        width: 120px;
        font-weight: 700;
        margin-right: 5px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        height: 25px;
        line-height: 35px;
        font-size: 12px;
        color: #555;
    }
    
    .store-info .store-title i {
        display: inline-block;
        width: 26px;
        height: 21px;
        background: url(../images/dsc-icon.png) no-repeat;
        background-position: -260px 0;
    }
    
    .store-info .store-title a:hover {
        color: #f42424;
    }
    
    .store-evaluate {
        width: 158px;
        height: 115px;
        margin-top: 10px;
        padding: 10px 0 10px 0;
        border-top: 1px dashed #ccc;
        border-bottom: 1px dashed #ccc;
    }
    
    .store-evaluate .s-score {
        width: 122px;
        height: 20px;
        line-height: 20px;
        margin: 0 auto 20px;
        border: 1px dashed #ccc;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .store-evaluate .s-score .star {
        display: inline-block;
        width: 60px;
        height: 12px;
        background: url(../images/dsc-icon.png) no-repeat;
        background-position: -298px -17px;
        margin-left: 5px;
    }
    
    .store-evaluate .s-score span {
        font-size: 12px;
        color: #555;
    }
    
    .store-evaluate .s-score .icon-Down1 {
        font-size: 12px;
    }
    
    .store-evaluate .body {
        width: 110px;
        height: 24px;
        margin: 0 auto;
    }
    
    .store-evaluate .body span {
        width: 50%;
        height: 24px;
        line-height: 24px;
        color: #555;
        text-align: center;
        font-size: 12px;
        display: block;
        float: left;
    }
    
    .store-evaluate .body span i {
        font-size: 12px;
    }
    
    .store-evaluate .body span:nth-child(2) {
        color: #23bc17;
    }
    
    .store-ewm {
        margin-top: 10px;
    }
    
    .store-ewm img {
        width: 158px;
        height: 158px;
    }
    
    .store-ewm p {
        font-size: 12px;
        text-align: center;
        color: #999;
    }
    
    .store-item {
        width: 158px;
        height: 20px;
        padding: 10px 0;
        border-top: 1px dashed #ccc;
        border-bottom: 1px dashed #ccc;
        margin-top: 10px;
    }
    
    .store-item span:nth-child(1) {
        width: 50px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #555;
        padding-right: 10px;
        margin-left: 27px;
        border-right: 1px dashed #ccc;
        cursor: pointer;
    }
    
    .store-item span:nth-child(1):hover {
        color: #f4242f;
    }
    
    .store-item span:nth-child(2):hover {
        color: #f4242f;
    }
    
    .store-item span:nth-child(1) i {
        font-size: 12px;
        color: #f42424;
    }
    
    .store-item span:nth-child(2) {
        width: 50px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #555;
        margin-left: 5px;
        cursor: pointer;
    }
    
    .store-item span:nth-child(2) i {
        font-size: 16px;
        color: #f42424;
    }
    
    .store-tel {
        width: 100%;
        height: 20px;
        padding: 10px 0 0 0;
        font-size: 12px;
        text-align: center;
    }
    /* 对比栏 */
    
    .duibi-box {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate(-60%);
        z-index: 999;
        width: 996px;
        height: 118px;
        display: none;
    }
    
    .parTit {
        float: left;
        width: 12px;
        font-size: 14px;
        color: #fff;
        background: #f42424;
        padding: 27px 12px 28px;
    }
    
    .parBd {
        border: 2px solid #f42424;
        position: relative;
        background: #fff;
        overflow: hidden;
        width: 956px;
        float: left;
    }
    
    .diff-items {
        color: #ccc;
        height: 57px;
        overflow: hidden;
        padding: 26px 0;
    }
    
    .diff-items dl {
        float: left;
        overflow: hidden;
        border-right: 1px solid #bfbfbf;
        height: 62px;
        padding: 0 16px 0 20px;
    }
    
    .diff-items dl dt {
        margin-right: 10px;
        width: 60px;
        height: 60px;
        text-align: center;
        color: #ccc;
        overflow: hidden;
        float: left;
    }
    
    .diff-items dl dt img {
        width: 100%;
        height: 100%;
    }
    
    .diff-items .diff-item-name {
        font-size: 12px;
        width: 100px;
        height: 60px;
        margin-bottom: 10px;
        float: left;
    }
    
    .diff-item-name a {
        overflow: hidden;
        color: #555;
        display: block;
        height: 30px;
    }
    
    .diff-item-name div {
        width: 95px;
        height: 30px;
        line-height: 30px;
        margin-top: 8px;
    }
    
    .diff-item-name div a {
        color: blue;
    }
    
    .diff-item-name div a:hover {
        color: red;
    }
    
    .diff-items .p-org {
        font-size: 12px;
    }
    
    .diff-items .p-org a {
        margin-left: 30px;
    }
    
    .diff-item-name .ts {
        display: block;
        height: 62px;
        line-height: 62px;
    }
    
    .dlfi {
        line-height: 60px;
    }
    
    .dlfi h1 {
        font: 36px/48px arial;
        text-align: center;
        line-height: 62px;
    }
    
    .diff-operate {
        margin: 30px 0 0 30px;
    }
    
    .diff-operate a {
        color: #438cde;
        display: block;
        cursor: pointer;
        cursor: pointer;
    }
    
    .diff-operate .compare-active {
        height: 30px;
        line-height: 30px;
        border: 1px solid #f42424;
        background: #f42424;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        outline: 0;
    }
    
    .del-items {
        font-size: 12px;
        margin-top: 10px;
    }
    
    .wrapper {
        width: 968px;
        height: 475px;
        margin: 0 auto;
    }
    
    .tab {
        border-bottom: 0;
        height: 40px;
        width: 328px;
        float: left;
        border-top: 1px solid #ccc;
    }
    
    .tab li {
        position: relative;
        float: left;
        width: 100px;
        height: 37px;
        line-height: 34px;
        background-color: white;
        text-align: center;
        cursor: pointer;
        border: 1px solid #ccc;
        border-top: 2px solid #fff;
        z-index: 1;
    }
    
    .tab span {
        position: absolute;
        right: 0;
        top: 10px;
        background: #ddd;
        width: 1px;
        height: 14px;
        overflow: hidden;
    }
    
    .topsw {
        float: right;
    }
    
    .products {
        width: 968px;
        border-top: 1px solid #ddd;
    }
    
    .products .main {
        float: left;
        display: none;
    }
    
    .products .main.selected {
        display: block;
    }
    
    .gm-title {
        width: 968px;
        overflow: hidden;
        border-bottom: 1px solid #d2d2d2;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    
    .gm-title h3 {
        font-size: 14px;
        padding-left: 8px;
        border-left: 4px solid #f42424;
        font-weight: bold;
        line-height: 14px;
        margin-bottom: 10px;
        float: left;
    }
    
    .praise-rate-warp {
        padding: 0 0 15px;
        overflow: hidden;
        border-bottom: 1px solid #d2d2d2;
    }
    
    .praise-rate-warp .rate {
        float: left;
        margin-left: 30px;
        padding: 6px 28px 6px 0;
        border-right: 1px solid #d2d2d2;
    }
    
    .praise-rate-warp .rate strong {
        font-size: 48px;
        color: #f42424;
        display: inline-block;
        height: 48px;
        line-height: 48px;
        font-weight: normal;
    }
    
    .praise-rate-warp .rate .bf {
        float: left;
        font-size: 20px;
        height: 20px;
        line-height: 20px;
        color: #f42424;
    }
    
    .praise-rate-warp .rate .tit {
        margin: 5px 0 0 8px;
        float: left;
    }
    
    .praise-rate-warp .rate .rate-span {
        float: left;
        color: #8c8c8c;
        width: 50px;
    }
    
    .praise-rate-warp .actor-new {
        float: left;
        margin-left: 34px;
        width: 740px;
        height: 60px;
        overflow: hidden;
    }
    
    .not_impression {
        font-size: 14px;
        color: #8c8c8c;
        background: url(../images/not-imp.png) no-repeat;
        padding-left: 70px;
        line-height: 50px;
        margin: 5px 0 0 50px;
    }
    
    .com-list-main {
        overflow: hidden;
        padding: -1px 20px;
    }
    
    .goods-para-list {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
    }
    
    .no_comments_qt {
        width: 200px;
        height: auto;
        padding-left: 0;
        margin: 100px auto;
    }
    
    .no_comments_qt .block {
        display: block;
        font-size: 14px;
        color: #8c8c8c;
        float: left;
        margin: 20px 0 0 45px;
    }
    
    .no_icon_three {
        width: 186px;
        height: 129px;
        display: block;
        float: left;
        background: url(../images/not-comment.png) no-repeat;
    }
    
    .goods-para .column {
        width: 25%;
        float: left;
        margin-top: 10px;
    }
    
    .erter img {
        max-width: 970px;
    }
    
    .goods-para .column span {
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .goods-para {
        width: 100%;
        float: left;
    }
    
    .tab li.active {
        /* border-color: #ccc; */
        border-top: 1px solid red;
        border-bottom: 0;
        height: 40px;
    }
    
    .hide-me {
        font-size: 12px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    
    .main-tab {
        width: 1200px;
        margin: 0 auto 50px;
        /* border: 1px solid red; */
    }
    
    .main-tab::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .tab-l {
        width: 198px;
        height: 150px;
        border: 1px solid #ccc;
        float: left;
        margin-bottom: 30px;
    }
    
    .tab-l .title {
        width: 100%;
        height: 35px;
        line-height: 35px;
        border-bottom: 1px solid #ccc;
        background: #f8f8f8;
    }
    
    .tab-l .title span {
        display: block;
        font-size: 14px;
        line-height: 38px;
        font-weight: bold;
        color: #555;
        padding-left: 14px;
        float: left;
        width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .tab-l .title i {
        display: block;
        float: left;
        width: 26px;
        height: 21px;
        background: url(../images/dsc-icon.png) no-repeat;
        background-position: -260px 0;
        line-height: 21px;
        margin: 6px 0 0 3px;
    }
    
    .tab-l .log a {
        display: block;
        width: 140px;
        height: 70px;
        margin: 0 auto;
    }
    
    .tab-l .log a img {
        max-width: 140px;
        max-height: 70px;
        margin: 20px auto;
    }
    
    .gm-title .gm-f-tab {
        float: left;
        margin-left: 20px;
    }
    
    .gm-title .gm-f-tab li {
        float: left;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
    }
    
    .gm-title h3 {
        font-size: 14px;
        padding-left: 8px;
        border-left: 4px solid #f42424;
        font-weight: bold;
        line-height: 14px;
        margin-bottom: 10px;
        float: left;
    }
    
    .gm-title .gm-f-tab a {
        float: left;
        font-size: 14px;
        line-height: 14px;
        margin-right: 30px;
        cursor: pointer;
    }
    
    .mafs-d a {
        color: red;
    }
    
    .g-main {
        border: 1px solid #d2d2d2;
        margin-bottom: 20px;
        width: 198px;
        background-color: #fff;
        float: left;
    }
    
    .g-main .mt {
        height: 38px;
        width: 100%;
        border-bottom: 1px solid #d2d2d2;
        background-color: #f8f8f8;
    }
    
    .mt h3 {
        font-size: 14px;
        line-height: 38px;
        font-weight: bold;
        color: #555;
        padding-left: 14px;
        float: left;
        width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .twre-tab {
        width: 198px;
        float: left;
    }
    
    .tab-r {
        margin-left: 30px;
        width: 965px;
        float: right;
        position: relative;
    }
    
    .items {
        padding: 5px 10px;
    }
    
    .item {
        line-height: 28px;
    }
    
    .item a {
        color: #8c8c8c;
        display: block;
        padding-left: 10px;
        background: url(../images/spirit.jpg) 0 12px no-repeat;
    }
    
    .item a:hover {
        color: #f42424;
    }
    
    .tab-r .tab-ul li {
        line-height: 38px;
        padding: 0 18px;
        border: 1px solid #ccc;
        border-bottom: 0;
        float: left;
        cursor: pointer;
    }
    
    .phone-pay {
        height: 40px;
        line-height: 40px;
        color: #8c8c8c;
        float: right;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        background-color: #fff;
        margin-top: 3px;
    }
    
    .phone-pay:hover img {
        display: block;
    }
    
    .phone-pay img {
        width: 175px;
        height: 175px;
        box-shadow: 0px 2px 10px rgb(204, 204, 204);
        position: absolute;
        top: 36px;
        left: -45px;
        cursor: default;
        display: none;
        z-index: 30;
    }
    
    .goCart {
        width: 70px;
        padding: 0 10px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        background-color: #f42424;
        margin-right: 5px;
        font-size: 12px;
        cursor: pointer;
        float: right;
        text-align: center;
    }
    
    .goCart:hover {
        background-color: #ec5051;
    }
    
    .good-tab,
    .discuss-tab,
    .discussion-tab {
        width: 100%;
        border-top: 1px solid #ccc;
        float: left;
        padding-top: 20px;
        display: none;
        position: relative;
    }
    
    .good-tab {
        display: block;
    }
    
    .good-tab::before {
        content: '';
        width: 102px;
        border-top: 1px solid #fff;
        position: absolute;
        top: -1px;
        left: 0px;
    }
    
    .good-tab::after {
        content: '';
        width: 102px;
        border-top: 2px solid #f42424;
        position: absolute;
        top: -39px;
        left: 0px;
    }
    
    .discuss-tab::before {
        content: '';
        width: 143px;
        border-top: 1px solid #fff;
        position: absolute;
        top: -1px;
        left: 102px;
    }
    
    .discuss-tab::after {
        content: '';
        width: 143px;
        border-top: 2px solid #f42424;
        position: absolute;
        top: -39px;
        left: 102px;
    }
    
    .discussion-tab::before {
        content: '';
        width: 118px;
        border-top: 1px solid #fff;
        position: absolute;
        top: -1px;
        left: 245px;
    }
    
    .discussion-tab::after {
        content: '';
        width: 118px;
        border-top: 2px solid #f42424;
        position: absolute;
        top: -39px;
        left: 245px;
    }
    /* 头部公共样式 */
    
    header .red {
        color: red;
    }
    
    header ul li {
        float: left;
    }
    
    .header {
        width: 100%;
        height: 180px;
        border-bottom: 2px solid red;
        user-select: none;
    }
    
    .header-topNav {
        height: 30px;
        background-color: #eee;
    }
    
    .header-top {
        width: 1200px;
        height: 30px;
        margin: 0 auto;
        line-height: 30px;
        font-size: 12px;
    }
    
    .header-icon {
        width: 70px;
        height: 28px;
        margin-right: 10px;
        position: relative;
        border: 1px solid #eee;
    }
    
    .header-zen {
        position: absolute;
        width: 70px;
        height: 5px;
        top: 28px;
        left: 0;
        z-index: 8;
        background-color: white;
        display: none;
    }
    
    .header-if {
        width: 70px;
        border: 1px solid #ccc;
        background-color: white;
    }
    /* 位置搜索 */
    
    .header-location {
        width: 443px;
        height: 236px;
        position: absolute;
        left: 0;
        top: 30px;
        background-color: white;
        z-index: 5;
        border: 1px solid #ccc;
        display: none;
    }
    
    .header-location>div {
        margin-left: 20px;
        width: 415px;
    }
    
    .header-hot {
        height: 30px;
        line-height: 30px;
        margin-top: 20px;
    }
    
    .header-hot a {
        color: #555;
        margin-right: 10px;
        padding: 2px 5px;
    }
    
    .header-hot a:hover {
        color: white;
        background-color: red;
    }
    
    .header-letter:hover {
        cursor: pointer;
    }
    
    .header-letter a {
        font-size: 14px;
        color: #8c8c8c;
        margin-right: 3px;
        font-weight: 700;
    }
    
    .header-letter a:hover {
        color: red;
    }
    
    .header-scrollboty {
        /* width: 100%; */
        height: 145px;
    }
    
    .header-allList {
        width: 400px;
        height: 145px;
        overflow: hidden;
        position: relative;
    }
    
    #header-lists {
        position: absolute;
        top: 0;
    }
    
    #header-lists li {
        width: 400px;
        height: 50px;
    }
    
    #header-lists li em {
        float: left;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: #eee;
        margin-top: 10px;
        font-size: 14px;
        color: #8c8c8c;
        font-weight: 700;
    }
    
    #header-lists li div {
        float: left;
        width: 300px;
        height: 40px;
        line-height: 40px;
    }
    
    #header-lists li div a {
        padding: 3px 10px;
        color: #555;
    }
    
    #header-lists li div a:hover {
        background-color: #eee;
        color: red;
    }
    
    .header-scorllBar {
        float: left;
        width: 7px;
        height: 130px;
        position: relative;
        background: url(../images/change_city.png) -7px 0 repeat-y;
        top: 5px;
    }
    
    .header-bar {
        position: absolute;
        top: 0;
        width: 7px;
        height: 30px;
        background: url(../images/change_city.png) 0 0 no-repeat;
    }
    /* 郑州市 */
    
    .header-enter span:hover {
        color: red;
    }
    
    .header-top-left {
        width: 240px;
        height: 30px;
        position: relative;
    }
    
    .header-enter>span {
        cursor: pointer;
    }
    
    .header-icon span {
        color: gray;
    }
    
    .header-enter>span:nth-child(1) {
        margin-right: 10px;
    }
    
    .gray {
        color: gray;
    }
    
    .header-top-right li {
        width: 75px;
        height: 28px;
        text-align: center;
    }
    
    .header-top-right li:last-child {
        width: 90px;
        color: gray;
    }
    
    .header-for {
        border: 1px solid #eee;
    }
    
    .header-top-right .iconfont {
        font-size: 12px;
        margin-left: 5px;
    }
    
    .header-top-right .header-spacer {
        width: 3px;
        height: 10px;
        margin-top: 10px;
        border-right: 1px solid #ccc;
    }
    
    .header-top-right li a {
        color: gray;
    }
    
    .header-top-right li a:hover {
        color: red;
    }
    
    .header-nav {
        width: 1200px;
        height: 160px;
        margin: 0 auto;
    }
    
    .header-nav-top {
        width: 1200px;
        height: 100px;
        margin-bottom: 10px;
        position: relative;
    }
    
    .header-nav-top>div {
        margin-top: 30px;
    }
    
    .header-logo {
        width: 190px;
        height: 60px;
        cursor: pointer;
    }
    
    .header-search {
        width: 565px;
        height: 60px;
        margin-left: 80px;
    }
    
    .header-search>form>input {
        width: 400px;
        height: 14px;
        padding: 8px;
        border: 2px solid #f42424;
        outline: 0;
        font-size: 12px;
        float: left;
        color: #999;
    }
    
    .header-search>form>button {
        border: 0;
        width: 70px;
        height: 34px;
        line-height: 34px;
        background-color: #f42424;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        outline: 0;
    }
    
    .header-search>form>button:first-child {
        margin-right: 8px;
    }
    
    .header-search>form>button:last-child {
        background-color: #B31919;
    }
    
    .header-search ul li {
        float: left;
        margin-right: 10px;
    }
    
    .header-search ul li a {
        color: #999;
        font-size: 12px;
    }
    
    .header-search ul li a:hover {
        color: red;
    }
    
    .header-shopping {
        width: 180px;
        height: 35px;
        border: 1px solid #ccc;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        cursor: pointer;
    }
    /* 网站导航 */
    
    .header-dorp-fore {
        border: 1px solid #d2d2d2;
        background-color: white;
        position: relative;
        cursor: pointer;
    }
    
    .header-fore-white {
        width: 90px;
        height: 3px;
        position: absolute;
        top: -2px;
        right: 0;
        background-color: white;
    }
    
    .header-dorpdown1 {
        width: 380px;
        height: 120px;
        border: 1px solid #d2d2d2;
        background-color: #fff;
        position: absolute;
        right: -1px;
        top: 29px;
        z-index: 5;
        padding: 15px;
        display: none;
    }
    
    .header-dorpdown1 dd:hover {
        color: red;
    }
    
    .header-fore1 {
        width: 106px;
        height: 118px;
        border-right: 1px solid #ccc;
    }
    
    .header-fore2 {
        width: 252px;
        height: 118px;
        margin-left: 20px;
    }
    
    .header-fore2>dt {
        width: 80px;
        font-weight: bold;
    }
    
    .header-fore2 dd {
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        float: left;
        color: #ccc;
    }
    
    .header-fore1>dt {
        font-weight: bold;
    }
    /* 购物车 */
    
    .header-dorpdown {
        width: 312px;
        height: 110px;
        border: 1px solid #d2d2d2;
        background-color: #fff;
        position: absolute;
        right: 10px;
        top: 36px;
        z-index: 5;
        display: none;
    }
    
    .header-white {
        width: 180px;
        height: 3px;
        background-color: white;
        position: absolute;
        top: -2px;
        right: 0;
    }
    
    .header-noggods span {
        display: block;
        width: 157px;
        height: 48px;
        float: left;
        margin-top: 36px;
        font-size: 14px;
        color: #ccc;
    }
    
    .header-noggods img {
        margin: 20px 15px 20px 30px;
    }
    
    #icon-font {
        font-size: 20px;
        color: red;
        font-weight: bold;
    }
    
    .em-bord {
        display: inline-block;
        width: 14px;
        height: 16px;
        color: white;
        text-align: center;
        border-radius: 50%;
        background-color: red;
    }
    /* 全部商品下的tab切换 */
    
    .header-nav-buttom {
        width: 1205px;
        height: 42px;
        position: relative;
    }
    
    .header-cat {
        width: 232px;
        height: 40px;
        background-color: red;
        margin-left: 0;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }
    
    .header-cat>a {
        color: white;
        font-weight: bold;
    }
    
    .header-max-nav {
        width: 970px;
        height: 40px;
        font-size: 16px;
        color: #555555;
    }
    
    .header-max-nav ul li {
        line-height: 40px;
        margin-right: 40px;
    }
    
    .header-max-nav ul li a:hover {
        color: red;
    }
    
    header .header-max-nav ul .active a {
        color: red;
    }
    
    .header-max-nav li:nth-child(1) {
        width: 100px;
        text-align: center;
        margin-right: 0;
    }
    
    .header-max-nav ul li a {
        color: black;
    }
    /* 全部商品下的tab切换 */
    /* 左边 */
    
    .header-tab {
        width: 232px;
        height: 553px;
        position: absolute;
        top: 41px;
        background-color: rgba(0, 0, 0, .6);
        z-index: 88;
        cursor: pointer;
        display: none;
    }
    
    .background {
        background-color: black
    }
    
    .header-item {
        width: 200px;
        height: 50px;
        padding: 14.5px 16px;
    }
    
    .header-item-content {
        width: 200px;
        height: 70px;
    }
    
    .header-item-text {
        width: 160px;
        height: 40px;
        margin-left: 10px;
        color: white;
        font-size: 14px;
    }
    
    .header-item-text strong {
        font-weight: normal;
    }
    
    .header-item-text strong:hover {
        color: red;
    }
    
    .header-item-text>span {
        color: #ccc;
    }
    
    .header-item-text span i:hover {
        color: red;
    }
    
    #content-icon {
        color: white;
    }
    /* 右边 */
    
    .header-item-layer {
        position: absolute;
        top: 2px;
        left: 232px;
        width: 966px;
        min-height: 498px;
        border: 1px solid #fff;
        background-color: #fff;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
        z-index: 88;
        padding: 20px 20px 28px 18px;
    }
    
    .header-layer-left {
        float: left;
        width: 704px;
    }
    
    .header-left-top {
        height: 45px;
    }
    
    .header-top-list li {
        float: left;
        padding: 5px 10px;
        padding: 5px 10px;
        margin-right: 10px;
        background-color: #5F4F4F;
    }
    
    .header-top-list li a {
        color: white;
    }
    
    .header-dl {
        width: 704px;
        height: 50px;
        line-height: 50px;
        display: flex;
        align-items: center;
    }
    
    .header-dl a:hover {
        color: red;
    }
    
    .header-dl a {
        color: black;
    }
    
    .header-dl>dt {
        width: 100px;
        height: 15px;
        line-height: 15px;
        font-weight: bold;
        border-right: 1px solid #ccc;
        text-align: center;
    }
    
    .header-dl>dd {
        width: 600px;
        height: 50px;
        border-bottom: 1px dashed #ccc;
    }
    
    .header-dl>dd>a {
        padding: 0 20px;
        border-right: 1px solid #ccc;
    }
    
    .header-dl>dd>a:last-child {
        border: 0;
    }
    
    .header-layer-right {
        float: left;
        width: 200px;
        margin-left: 20px;
    }
    
    .header-img {
        width: 97px;
        height: 40px;
        float: left;
        border: 1px solid #ccc;
    }
    
    .header-img:nth-child(odd) {
        border-bottom: 0;
    }
    
    .header-img:nth-child(even) {
        border-bottom: 0;
        border-left: 0;
    }
    
    .header-img img {
        width: 97px;
        height: 40px;
    }
    /* 添加到购物车 */
    
    .top-e {
        width: 278px;
        height: 82px;
        background-color: #ECEAEA;
    }
    
    .top-l img {
        height: 82px;
    }
    
    .top-l {
        width: 100px;
        height: 100%;
        float: left;
    }